/*** Les animations sur site ***/

/*** L'animation du loader ***/

.load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: loader 3s ease-in forwards;

    &__ohmyfood, &__flex-icon {
        font-size: 1.85em;
        font-family: "Shrikhand", sans-serif;
        color: whitesmoke;
        text-shadow: black 0 5px 10px;
    }
}

@keyframes loader {
    0% {
        background-color: $color-primary;
        opacity: 1;
        transform: scale(1);
    }

    25% {
        background-color: linear-gradient($color-primary, $color-secondary);
        opacity: 1;
    }

    50% {
        background-color: $color-secondary;
        /*opacity: 0.85;*/
    }

    75% {
        background-color: linear-gradient($color-secondary, $color-tertiary);
        /*opacity: 0.75;*/
    }

    90% {
        background-color: $color-tertiary;
        /*opacity: 0.7;*/
        opacity: 1;
        transform: scale(1.95);
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*** Fin du loader ***/

/*** L'animation du coeur ***/

.icon-heart {
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
        /*color: $color-secondary;*/
        font-weight: 900;
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fill-heart 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }
}

@keyframes fill-heart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*** Fin animation du coeur ***/

/*** L'animation de check-circle ***/

.menu__choice{

    .menu__choice--title {
        flex: 3;
        padding: 0 0 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        font-size: 1em;

        h3 {
            font-size: 17px;
        }

        p {
            font-size: 13px;
        }

        h3, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu__choice--price {
        flex: 0;
        display: flex;
        font-weight: bold;
        padding: 31px 10px 10px 5px;
        width: 20%;
    }

    .menu__choice--icon {
        flex: 0;
        width: 1%;
        height: 100%;
        border-radius: 0 20px 20px 0;
        animation: exit-icon 0.5s ease-in-out both;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 28px;
            padding: 21px;
        }
    }

    &:hover {
        .menu__choice--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            border-radius: 0 15px 15px 0;

            animation: enter-icon 0.5s ease-in-out both;
        }
        
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 28px;
            padding: 21px;

            animation: rotate-icon 0.5s ease-in-out both;
        }
    }
}

@keyframes enter-icon {
    
    0% {
        flex: 0;
        background-color: white;
    }

    65% {
        flex: 1.5;
        background-color: $color-tertiary;
    }

    100% {
        flex: 1;
        background-color: $color-tertiary;
    }
}

@keyframes exit-icon {
    
    0% {
        opacity: 1;
        flex: 1;
        background-color: $color-tertiary;
    }

    100% {
        opacity: 0;
        flex: 0;
        background-color: white;
    }
}

@keyframes rotate-icon {

    0% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-1turn);
    }
}

/*** Fin de l'animation check-circle ***/

/*** L'animation d'apparition ***/

.menu {
    .menu__title {
        animation: apparition-left 1.5s linear both;
        
    }

    .menu__choice {
        animation: apparition 1.5s linear both;   
    }

    h2 {
        animation: apparition-right 2.5s linear both;
    }
}

@keyframes apparition {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes apparition-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes apparition-right {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/*** Fin de l'animation d'apparition ***/