header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0 10px 0;
    
    a {
        position: relative;
        left: -55px;
        top: -10px;
    }
    
    img {
        width: 210px;
    }
}