.container__menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
    }

    .position {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 25px;

        @include special-position {
            margin: 0 15%;
        }

        @include phone-L {
            margin: 0 8%;
        }

        @include tablette-L {
            margin: 0 20%;
        }

        @include desktop {
            margin: 0 30%;
        }
    }

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px 0 25px;

        .icon-heart {
            font-size: 25px;
        }
    }

    .menu {
        padding: 25px 25px 0 25px;
        background-color: #f2f2f2;
        border-radius: 25px;

        &__title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 25px;
            font-family: "Shrikhand";

            @include desktop {
                justify-content: center;
            }
    
            .icon-heart {
                font-size: 25px;

                @include desktop {
                    margin-left: 20px;
                }
            }
        }

        h2 {
            padding-bottom: 5px;
            margin-bottom: 10px;
            border-bottom: 2px solid #99e2d0;
            width: 40px;
            font-weight: normal;

            @include desktop {
                text-align: center;
                width: 100%;
                animation-delay: 0.8s;
                border-radius: 50px;
            }
        }

        @include desktop {

            &__group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
        }

        &__choice {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            background: #fff;
            border-radius: 20px;
            box-shadow: #bbbaba 0 5px 10px;
            cursor: pointer;

            @include desktop {
                width: 100%;
                max-width: 410px;
                min-width: 330px;
                margin-right: 10px;
            }
        }

        &__command {
            display: flex;
            justify-content: center;         

            button {
                margin: 20px 0 20px 0;
                width: 250px;
            }
        }
    }
}