@charset "UTF-8";
/*** Responsive - MediaQueries ***/
/*** Mixin responsive spécial pour les restaurant__card ***/
/*** Mixin responsive spécial pour la marge de la position ***/
/*** Les couleurs du site ***/
html,
body,
a,
p,
ul,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

main {
  background-color: #f2f2f2;
}

ul {
  list-style-type: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.45em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

h4 {
  font-family: "Shrikhand", "Roboto", Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-weight: lighter;
}

button {
  background: linear-gradient(#9356DC, #FF79DA);
  color: whitesmoke;
  font-size: 1.05em;
  padding: 15px;
  border: 0 solid;
  border-radius: 25px;
  box-shadow: #bbbaba 0 5px 10px;
  transform: scale(1);
  transition: transform 400ms;
}
button:hover {
  transform: scale(1.15);
  opacity: 0.95;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0 10px 0;
}
header a {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 18px;
}
header img {
  width: 210px;
}

footer {
  background: #333333;
  padding: 20px;
}
footer h4 {
  font-size: 1.5em;
}
@media screen and (min-width: 701px) {
  footer h4 {
    text-align: center;
  }
}
footer div {
  margin: 50px 0;
}
@media screen and (min-width: 701px) {
  footer div {
    display: flex;
    justify-content: space-evenly;
  }
}
footer a {
  display: flex;
  color: whitesmoke;
  margin-bottom: 20px;
}
footer a i {
  margin-right: 15px;
}

.container__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container__menu img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}
.container__menu .position {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 25px;
}
@media screen and (min-width: 701px) and (max-width: 839px) {
  .container__menu .position {
    margin: 0 15%;
  }
}
@media screen and (min-width: 840px) and (max-width: 1023px) {
  .container__menu .position {
    margin: 0 20%;
  }
}
.container__menu .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 0 25px;
}
.container__menu .title .icon-heart {
  font-size: 25px;
}
.container__menu .menu {
  padding: 25px 25px 0 25px;
  background-color: #f2f2f2;
  border-radius: 25px;
}
.container__menu .menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  font-family: "Shrikhand";
}
.container__menu .menu__title .icon-heart {
  font-size: 25px;
}
.container__menu .menu h2 {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  font-weight: normal;
}
@media screen and (min-width: 1024px) {
  .container__menu .menu h2 {
    text-align: center;
    width: 100%;
    animation-delay: 0.8s;
    font-family: "Shrikhand", "Roboto", sans-serif;
  }
}
@media screen and (min-width: 1024px) {
  .container__menu .menu__group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.container__menu .menu__choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 20px;
  box-shadow: #bbbaba 0 5px 10px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .container__menu .menu__choice {
    width: 100%;
    max-width: 410px;
    min-width: 330px;
    margin-right: 10px;
  }
}
.container__menu .menu__command {
  display: flex;
  justify-content: center;
}
.container__menu .menu__command button {
  margin: 20px 0 20px 0;
  width: 250px;
}

/*** Les animations sur site ***/
/*** L'animation du loader ***/
.load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loader 3s ease-in forwards;
}
.load__ohmyfood, .load__flex-icon {
  font-size: 1.85em;
  font-family: "Shrikhand", sans-serif;
  color: whitesmoke;
  text-shadow: black 0 5px 10px;
}

@keyframes loader {
  0% {
    background-color: #9356DC;
    opacity: 1;
    transform: scale(1);
  }
  25% {
    background-color: linear-gradient(#9356DC, #FF79DA);
    opacity: 1;
  }
  50% {
    background-color: #FF79DA;
    /*opacity: 0.85;*/
  }
  75% {
    background-color: linear-gradient(#FF79DA, #99E2D0);
    /*opacity: 0.75;*/
  }
  90% {
    background-color: #99E2D0;
    /*opacity: 0.7;*/
    opacity: 1;
    transform: scale(1.95);
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*** Fin du loader ***/
/*** L'animation du coeur ***/
.icon-heart {
  transform: scale(1);
  transition: transform 400ms;
}
.icon-heart:hover {
  transform: scale(1.15);
  /*color: $color-secondary;*/
  font-weight: 900;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fill-heart 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@keyframes fill-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*** Fin animation du coeur ***/
/*** L'animation de check-circle ***/
.menu__choice .menu__choice--title {
  flex: 3;
  padding: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  font-size: 1em;
}
.menu__choice .menu__choice--title h3 {
  font-size: 17px;
}
.menu__choice .menu__choice--title p {
  font-size: 13px;
}
.menu__choice .menu__choice--title h3, .menu__choice .menu__choice--title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__choice .menu__choice--price {
  flex: 0;
  display: flex;
  font-weight: bold;
  padding: 31px 10px 10px 5px;
  width: 20%;
}
.menu__choice .menu__choice--icon {
  flex: 0;
  width: 1%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  animation: exit-icon 0.5s ease-in-out both;
}
.menu__choice .menu__choice--icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  padding: 21px;
}
.menu__choice:hover .menu__choice--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  animation: enter-icon 0.5s ease-in-out both;
}
.menu__choice:hover i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  padding: 21px;
  animation: rotate-icon 0.5s ease-in-out both;
}

@keyframes enter-icon {
  0% {
    flex: 0;
    background-color: white;
  }
  65% {
    flex: 1.5;
    background-color: #99E2D0;
  }
  100% {
    flex: 1;
    background-color: #99E2D0;
  }
}
@keyframes exit-icon {
  0% {
    opacity: 1;
    flex: 1;
    background-color: #99E2D0;
  }
  100% {
    opacity: 0;
    flex: 0;
    background-color: white;
    visibility: hidden;
  }
}
@keyframes rotate-icon {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}
/*** Fin de l'animation check-circle ***/
/*** L'animation d'apparition ***/
.menu .menu__title {
  animation: apparition-left 1.5s linear both;
}
.menu .menu__choice {
  animation: apparition 1.5s linear both;
}
.menu h2 {
  animation: apparition-right 2.5s linear both;
}

@keyframes apparition {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes apparition-right {
  from {
    transform: translateX(-400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/*** Fin de l'animation d'apparition ***/
.container__index {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container__index .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container__index .search__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px 0 10px 0;
}
.container__index .search__location i {
  padding-right: 10px;
}
.container__index .search__location input {
  border-style: none;
  border: 0px;
  background-color: #e2e2e2;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  width: 155px;
}
.container__index .search__reserved {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 15% 30px 15%;
  background-color: #f2f2f2;
}
.container__index .search__reserved h1, .container__index .search__reserved p {
  margin-bottom: 15px;
}
.container__index .function {
  padding: 25px;
  margin: 20px 0 0 0;
  background-color: #fff;
}
@media screen and (min-width: 521px) and (max-width: 700px) {
  .container__index .function {
    display: flex;
    flex-direction: column;
  }
}
.container__index .function h2 {
  margin-bottom: 20px;
}
@media screen and (min-width: 521px) and (max-width: 700px) {
  .container__index .function h2 {
    text-align: center;
  }
}
@media screen and (min-width: 701px) {
  .container__index .function h2 {
    text-align: center;
  }
}
.container__index .function ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 521px) and (max-width: 700px) {
  .container__index .function ul {
    align-items: center;
  }
}
@media screen and (min-width: 701px) {
  .container__index .function ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .container__index .function ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.container__index .function li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  height: 60px;
  background-color: #f2f2f2;
  box-shadow: #bbbaba 0 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (min-width: 701px) {
  .container__index .function li {
    margin: 10px;
    max-width: 285px;
  }
}
@media screen and (min-width: 1024px) {
  .container__index .function li {
    margin: 2%;
  }
}
.container__index .function li span {
  background-color: #9356DC;
  color: whitesmoke;
  padding: 5px 8px 5px 8px;
  border-radius: 25px;
  position: relative;
  right: 10px;
}
.container__index .function li i, .container__index .function li p {
  display: flex;
  padding: 20px 10px;
}
.container__index .function li .icon-function {
  font-size: 20px;
  color: grey;
}
.container__index .function li:hover {
  background-color: #e9d9ff;
}
.container__index .function li:hover i {
  color: #9356DC;
}
.container__index .restaurant {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #f2f2f2;
}
@media screen and (min-width: 521px) and (max-width: 700px) {
  .container__index .restaurant {
    align-items: center;
  }
}
.container__index .restaurant h2 {
  margin-bottom: 40px;
}
@media screen and (min-width: 701px) {
  .container__index .restaurant h2 {
    text-align: center;
  }
}
@media screen and (min-width: 701px) {
  .container__index .restaurant__position--figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 840px) and (max-width: 1023px) {
  .container__index .restaurant__position--figure {
    margin: 0 6%;
  }
}
@media screen and (min-width: 1024px) {
  .container__index .restaurant__position--figure {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1250px) {
  .container__index .restaurant__position--figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.container__index .restaurant__card {
  position: relative;
  background-color: #fff;
  box-shadow: #bbbaba 0 5px 10px;
  margin-bottom: 25px;
  border-radius: 15px;
  height: 300px;
  transform: scale(1);
  transition: transform 400ms;
}
.container__index .restaurant__card:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 521px) and (max-width: 700px) {
  .container__index .restaurant__card {
    width: 390px;
  }
}
@media screen and (min-width: 701px) {
  .container__index .restaurant__card {
    width: 46%;
  }
}
@media screen and (min-width: 1024px) {
  .container__index .restaurant__card {
    max-width: 390px;
    margin: 25px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1250px) {
  .container__index .restaurant__card {
    width: 45%;
    max-width: 390px;
    margin: 2%;
  }
}
.container__index .restaurant__card span {
  background-color: #99E2D0;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #5f867c;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
.container__index .restaurant__card img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 70%;
}
.container__index .restaurant__card--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.container__index .restaurant__card--flex .icon-heart {
  font-size: 25px;
}

/*** La responsive pour les desktop-XL ***/

/*# sourceMappingURL=style.css.map */
