button {
    background: linear-gradient($color-primary, $color-secondary);
    color: whitesmoke;
    font-size: 1.05em;
    padding: 15px;
    border: 0 solid;
    border-radius: 25px;
    box-shadow: #bbbaba 0 5px 10px;
}