button {
    background: linear-gradient($color-primary, $color-secondary);
    color: whitesmoke;
    font-size: 1.05em;
    padding: 15px;
    border: 0 solid;
    border-radius: 25px;
    box-shadow: #bbbaba 0 5px 10px;
    transform: scale(1);
    transition: transform 400ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.15);
        opacity: 0.95;
        box-shadow: black 0 5px 25px;
    }
}