.container__index {
    display: flex;
    flex-direction: column;
    width: 100%;

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .search__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #e2e2e2;
        padding: 10px 0 10px 0;

        i {
            padding-right: 10px;
        }

        input {
            border-style: none;
            border: 0px;
            background-color: #e2e2e2;
            font-weight: bold;
            text-align: center;
            font-size: 18px;
            width: 155px;
        }
    }

    .search__reserved {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 15% 30px 15%;
        background-color: #f2f2f2;

        h1, p {
            margin-bottom: 15px;
        }
    }

    .function {
        padding: 25px;
        margin: 20px 0 20px 0;
        background-color: #fff;

        @include phone-L {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            margin-bottom: 20px;

            @include tablette {
                text-align: center;
            }
        }

        ul {
            display: flex;
            flex-direction: column;

            @include tablette {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;
            width: 100%;
            max-width: 300px;
            height: 60px;
            background-color: #f2f2f2;
            box-shadow: #bbbaba 0 5px 10px;
            border-radius: 20px;
            cursor: pointer;

            @include tablette {
                margin: 10px;
                max-width: 285px;
            }

            @include desktop {
                margin: 2%;
            }

            span {
                background-color: $color-primary;
                color: whitesmoke;
                padding: 5px 8px 5px 8px;
                border-radius: 25px;
                position: relative;
                right: 10px;
            }

            i, p {
                display: flex;
                padding: 20px 10px;
            }

            .icon-function {
                font-size: 20px;
                color: grey;
            }
        }

        li:hover {
            background-color: #e9d9ff;

            i {
                color: $color-primary;
            }
        }
    }

    .restaurant {
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: #f2f2f2;

        @include phone-L {
            align-items: center;
        }

        h2 {
            margin-bottom: 20px;

            @include tablette {
                text-align: center;
            }
        }

        &__position--figure {

            @include tablette {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            @include tablette-L {
                margin: 0 6%;
            }

            @include desktop {
                display: flex;
                justify-content: space-evenly;
            }
        }

        &__card {
            position: relative;
            background-color: #fff;
            box-shadow: #bbbaba 0 5px 10px;
            margin-bottom: 25px;
            border-radius: 15px;
            height: 300px;
            transform: scale(1);
            transition: transform 400ms;
            
            &:hover {
                transform: scale(1.05);
            }

            @include tablette {
                width: 49%;
            }

            @include desktop {
                width: 24%;
                max-width: 300px;
            }

            span {
                background-color: #99E2D0;
                padding: 10px 20px 10px 20px;
                border-radius: 5px;
                color: #5f867c;
                font-weight: bold;
                position: absolute;
                top: 10px;
                right: 20px;
            }

            img {
                object-fit: cover;
                border-radius: 15px 15px 0 0;
                width: 100%;
                height: 70%;
            }
        }

        &__card--flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .icon-heart {
                font-size: 25px;
            }
        }
    }
}

/*** La responsive pour les desktop-XL ***/