/*** Responsive - MediaQueries ***/

@mixin phone-L {
    @media screen and (min-width: 521px) and (max-width: 700px) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width: 701px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

/*** Animation Icon ***/

@mixin icon-anime {
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
        /*color: $color-secondary;*/
        font-weight: 900;
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fill-heart 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }
}